{% extends "base.html" %}
{% block content %}
<h1>Add Video</h1>

{% include 'snippets/form_error.html' %}

{% if logged_in %}
    <p>You are already logged in! Would you like to logout?</p>
{% else %}
<form method="POST">
    <div>
        <label for="url">Youtube Link</label>
        <input type="text" name="url" placeholder='https://www.youtube.com/watch?v=GlDr6aKBtFg' value="{% if url %}{{ url }}{% endif %}" /> 
    </div>
    
    <button type="submit">Add Video</button>
</form>
{% endif %}
{% endblock %}